{% extends "base.html" %}

{% block content %}
            <div id="front">
                <div id="homepage-block">
                    <h1 class="logo"><span class="s">S</span>tacks</h1>
                    <div class="emptyspace">
                      
                    </div>
                    <div class="btn-group">
                    <button class="white-button login-button" type="button">
                    Login
                  </button>
                  <button class="white-button register-button" type="button">
                    Register
                  </button>
                  </div> <!-- btn-group -->
                    </div> <!-- homepage-block -->
              </div> <!--front -->
{% endblock %}
