{% extends 'base.html' %}

{% block content %}
<style>
    #id_email{
    height: 51px;
    width: 291px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 3px 6px;
    font-size: 20px;
    font-family: Trebuchet MS;
    text-align: center;
    outline: none;
    margin-bottom: 25px;
  }

  #id_email:focus::placeholder{
      color: transparent;
  }

  .reset-btn {
    background-color: #E85D04;
    color: #ffffff;
    font-family: "Trebuchet MS";
    font-size: 20px;
    height: 51px;
    width: 291px;
    border: none;
    border-radius: 50px;
    outline: none;
    margin-top: 59px;
    margin-bottom: 11px;
  }

  .reset-btn:hover {
    background-color: #faa307;
  }
  
  .reset-btn:active {
    background-color: #faa307;
    box-shadow: 0 5px #666;
    transform: translateY(-4px);
  }

</style>
<div id="frontWhite">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="reset-btn" type="submit" value="Reset Password" />
    </form>
  </div> <!--front -->

{% endblock %}
