{% extends 'base.html' %}

{% block content %}

<div id="frontWhite">
    <style>
        .confirmationemail{
            color: black;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
            }
    </style>
    <div class="reset-password">
        <h1>We have sent you an email</h1>
        <p>Please click on the link to reset your password.</p>
        <button class="login-button" id="login-btn" type="button">
            Login
          </button>
  </div> <!--front -->

{% endblock %}