{% extends 'base.html' %}

{% block content %}

<div id="frontWhite">
    <style>
        .confirmationemail{
            color: black;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
            }
    </style>
    <div class="confirmationemail">
        <h1>Verify your email.</h1>
        <p>Please click on the link in your email and login to your account.</p>
        <button class="login-button" id="login-btn" type="button">
            Login
          </button>
  </div> <!--front -->

{% endblock %}