form {
	margin-top: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	display: none;
}

input {
	margin-bottom: 2vh;
	height: 35px;
	width: 250px;
}


.change_button{
  background-color: #e85d04;
  color: #ffffff;
  font-family: "Trebuchet MS";
  font-size: 14px;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 50px;
  outline: none;
}


.change_button:hover {
  background-color: #faa307;
}


.change_button:active {
  background-color: #faa307;
  box-shadow: 0 5px #666;
  transform: translateY(-4px)
}
